/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Arial, sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

.col-60 {
  background: #E84A5F;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego {
  width: 100%;
  background-color: #e54154;
  overflow: hidden;
}

#juego::after {
  content: '';
  display: block;
  clear: both;
}

#juego div {
  width: 33.3%;
  text-align: center;
  animation: fadein 2s;
  float: left;
  box-shadow: 0 0 0 2px #369390;
}

#juego img {
  display: block;
  width: 100%;
  height: auto;
}

#objetivo img {
  width: 100%;
  height: auto;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* FUCK :( */
#pieza9 img {
  opacity: 0;
}

#timer {
  text-align: center;
  font-family: monospace;
  font-size: 3em;
  margin-top: 1em;
}
#timer::before {
  content: '🕐 ';
  vertical-align: middle;
}
#timer::after {
  content: 's';
}
